<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="cef.redist.x64" version="85.3.13" targetFramework="net472" />
  <package id="cef.redist.x86" version="85.3.13" targetFramework="net472" />
  <package id="Microsoft.Web.WebView2" version="1.0.3179.45" targetFramework="net48" />
  <package id="Newtonsoft.Json" version="13.0.1" targetFramework="net48" />
  <package id="Splat" version="15.2.22" targetFramework="net472" />
  <package id="Vlc.DotNet.Core" version="3.1.0" targetFramework="net472" />
  <package id="Vlc.DotNet.Core.Interops" version="3.1.0" targetFramework="net472" />
  <package id="Vlc.DotNet.Forms" version="3.1.0" targetFramework="net472" />
</packages>