<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="SignalRConfigurationSection" type="Elipgo.SmartClient.SignalR.Connection.Configuration.SignalRConfigurationSection, Elipgo.SmartClient.SignalR.Connection" />
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="Elipgo.SmartClient.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <SignalRConfigurationSection url_server="http://vms.vmonitoring.com/vmon" hub="connection" version="" />
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
  </startup>
  <appSettings>
    <add key="Authority" value="https://localhost.vmonitoring.com:5001" />
    <add key="ClientId" value="smart_client" />
    <add key="ClientSecret" value="511536EF-F270-4058-80CA-1C89C192F69A" />
    <add key="Scope" value="openid profile email" />
    <add key="RedirectUri" value="http://localhost:3333" />
    <add key="VMON5_URL" value="http://vms.vmonitoring.com" />
    <add key="RetailUrl" value="http://vms.vmonitoring.com/retail/" />
    <add key="LprUrl" value="https://vms.vmonitoring.com/lpr/" />
    <add key="FaceUrl" value="https://vms.vmonitoring.com/face/" />
    <add key="ReportURL" value="http://report.vmonitoring.com/" />
    <add key="DefaultGrid" value="1+5" />
    <add key="DefaultGridPlayback" value="4" />
    <add key="TimeNotification" value="3" />
    <add key="CountByPage" value="20" />
    <add key="DefaultLocation" value="C:\\media" />
    <add key="CefSharpInstallLocation" value="HKEY_LOCAL_MACHINE\SOFTWARE\Microsoft\Windows\CurrentVersion\Uninstall\{46B7C910-D10D-43B3-9A9D-175DE40D3A70}" />
    <add key="FFmpegInstallLocation" value="HKEY_LOCAL_MACHINE\SOFTWARE\Microsoft\Windows\CurrentVersion\Uninstall\{CCC755F9-0B3C-4DF2-97EE-537306CBEEDE}" />
    <add key="MediaSuiteInstallLocation" value="HKEY_LOCAL_MACHINE\SOFTWARE\Microsoft\Windows\CurrentVersion\Uninstall\{B54DE766-F1D8-4EE2-9081-3E9B26C59FF8}" />
    <add key="RepeatAfterMinutesJobUpdateStatus" value="15" />
    <add key="AppKey_Sentry" value="https://27972f29924e4e5cb3b649aadfe8a06d@sentry.io/2611343" />
    <add key="ClientSettingsProvider.ServiceUri" value="" />
    <add key="VisualSearchUri" value="http://{0}:{1}/VSCACHE/Snapshot/Snapshot.aspx?vsrId={2}&amp;channel={3}&amp;dateTime={4}&amp;Exact=False&amp;Cookie=1612F9ZuoXyGyLRqDF7lq5TKOw==" />
    <add key="VRECUri" value="http://{0}/WSNDVR/Snapshot/Snapshot.aspx?cameraId={1}&amp;dateTime={2}&amp;Exact=False&amp;NoResize=true&amp;Cookie=1612F9ZuoXyGyLRqDF7lq5TKOw==" />
    <add key="VRECLogin" value="http://{0}:{1}/WSNDVR/Backup/Backup.aspx?command=login&amp;user={2}&amp;password={3}"/>
    <add key="VRECStartProcess" value="http://{0}:{1}/WSNDVR/Backup/Backup.aspx?command=enqueue&amp;camera={2}&amp;start={3}&amp;stop={4}&amp;jobType=1"/>
    <add key="VRECStatusProcess" value="http://{0}:{1}/WSNDVR/Backup/Backup.aspx?command=info&amp;camera={2}"/>
    <add key="VRECDownload" value="http://{0}:{1}/WSNDVR/Backup/Backup.aspx?command=download&amp;processID={2}&amp;fname={3}"/>
    <add key="VRECUser" value="root"/>
    <add key="VRECPassword" value="A0E66C4B7FF28440F1AB7923CCE84E05"/>
    <add key="ZoomLimit" value="20" />
    <!--seproban-->
    <add key="ElipgoSeprobanFileCache" value="C:\ElipgoSeprobanCache\"/>
    <add key="ElipgoSeprobanDecodedJpeg" value="C:\ElipgoSeprobanCache\Jpeg\"/>
    <add key="ElipgoSeprobanFtpSend" value="C:\ElipgoSeprobanCache\Ftp\"/>
    <add key="ElipgoSeprobanSavesFolder" value="C:\ElipgoSeprobanCache\Backups\"/>
    <add key="FtpHost" value="localhost"/>
    <add key="FtpUsername" value="ftptelmex"/>
    <add key="FtpPassword" value="b4ns3f1"/>
    <add key="FtpPath" value="/Labo/SeprobanTest"/>
    <add key="FtpPassive" value="true"/>
    <add key="BufferSize" value="2048"/>
    <add key="quality" value="50"/>
    <add key="MaxSize" value="28672"/>
    <add key="PrintTimestamp" value="true"/>
    <add key="PrintSiteNane" value="true"/>
    <add key="CsvDataUpdaterHost" value="demo.vmonitoring.com"/>
    <add key="CsvDataUpdaterPort" value="80"/>
    <add key="CsvDataUpdaterUser" value="integral"/>
    <add key="CsvDataUpdaterPassword" value="vmon.elipgo"/>
  </appSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Reactive.Core" publicKeyToken="94bc3704cddfc263" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.3000.0" newVersion="3.0.3000.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Bunifu.Core" publicKeyToken="e8e24ccd28363fe9" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.11.5.2" newVersion="1.11.5.2" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-11.0.0.0" newVersion="11.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime.CompilerServices.Unsafe" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.4.1" newVersion="4.0.4.1" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Extensions.DependencyInjection.Abstractions" publicKeyToken="adb9793829ddae60" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.1.1.0" newVersion="1.1.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Buffers" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.3.0" newVersion="4.0.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Extensions.Logging.Abstractions" publicKeyToken="adb9793829ddae60" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.1.2.0" newVersion="1.1.2.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Extensions.Logging" publicKeyToken="adb9793829ddae60" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.1.2.0" newVersion="1.1.2.0" />
      </dependentAssembly>
      <probing privatePath="x86" />
    </assemblyBinding>
  </runtime>
  <userSettings>
    <Elipgo.SmartClient.Properties.Settings>
      <setting name="UserToken" serializeAs="String">
        <value />
      </setting>
      <setting name="SelectedGrid" serializeAs="String">
        <value />
      </setting>
      <setting name="SelectedStream" serializeAs="String">
        <value>MainStream</value>
      </setting>
    </Elipgo.SmartClient.Properties.Settings>
  </userSettings>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
</configuration>